<!DOCTYPE html>
<html>
    <head style="background-color:black">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>

        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/jqueryui")
        @Styles.Render("~/Content/materialize")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body style="height:100%; margin: 0;">
    
        <div class="body-content" style="height:100%">
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jvectormap")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/canvasjs")
        @Scripts.Render("~/bundles/materialize")
        @RenderSection("scripts", required: false)

    </body>
</html>
