@model ConcertMap.Models.Events

@using ConcertMap.App_Code.Helper

@{
    ViewBag.Title = "ConcertMap";
}

@section Scripts {

    
    <script>
        $(function () {

            $("#fromDate").attr("disabled","disabled");
            $("#toDate").attr("disabled","disabled");


            var markers = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(MapManager.GetMarkers(Model.events)))
            var concertData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(MapManager.CreateCountryData(Model.events)));

            var mapObj = new jvm.Map({

                container: $('#world-map'),
                map: 'world_mill',
                normalizeFunction: 'polynomial',
                markerStyle: {
                    initial: {
                        fill: '#B88A99',
                        stroke: '#805563',
                        r: 3
                    }
                },
                backgroundColor: '#A1ABB5',
                markers: markers,
                series: {
                    regions: [{
                        values: concertData,
                        scale: ['#33F259', '#176326'],
                        normalizeFunction: 'polynomial',
                        attribute: 'fill'
                    }]
                }
            });

        });


        function hide() {
            $("#show_button").show();
            $("#search_panel").hide("drop",{ direction: "left" }, "slow" );

        }


        function show() {
            $("#search_panel").show("drop",{ direction: "left" }, "slow" );
            $("#show_button").hide();
        }


        function upcomingChanged(cb) {

            var isChecked = $(cb).prop("checked");
            var isCheckedPast = $("#past").prop("checked");

            if (isChecked) {
                if (!isCheckedPast)
                    $("#fromDate").val(getCurrentDate());
                $("#toDate").val("2100-01-01");
                
            } else
            {
                if (isCheckedPast) $("#fromDate").val("1900-01-01");
                $("#toDate").val(getCurrentDate());
               
            }

        }

        function pastChanged(cb) {
            
            var isChecked = $(cb).prop("checked");
            var isCheckedUpcoming = $("#upcoming").prop("checked");

            if (isChecked) {
                if (!isCheckedUpcoming)
                    $("#toDate").val(getCurrentDate());
                $("#fromDate").val("1900-01-01");
                
            } else {
                if (isCheckedUpcoming) $("#toDate").val("2100-01-01");
                $("#fromDate").val(getCurrentDate());
                
            }
        }

        function datesChanged(cb) {
            var isChecked = $(cb).prop("checked");

            if (isChecked) {
               $("#upcoming").attr("disabled","disabled");
               $("#past").attr("disabled","disabled");
               $("#toDate").removeAttr("disabled");
               $("#fromDate").removeAttr("disabled");
            } else {
                $("#upcoming").removeAttr("disabled");
                $("#past").removeAttr("disabled");
                $("#fromDate").attr("disabled","disabled");
                $("#toDate").attr("disabled","disabled");
            }
        }

        function showStat() {
    
        }

        function getCurrentDate() {
    
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; 

            var yyyy = today.getFullYear();
            if(dd<10){
                dd='0'+dd
            } 
            if(mm<10){
                mm='0'+mm
            } 
            var today = yyyy+"-"+mm+"-"+dd;
            
            return today;
        }

    </script>
}

<div id="world-map" style="height: 100%"></div>

<div id="search_panel">
    <div id="title">Search</div>
  
    <div id="search_form">
        @using (Html.BeginForm("Search", "Home", FormMethod.Get))
        {
            <p>
                Artist: @Html.TextBoxFor(model => model.ArtistName) <br />

                All upcoming: @Html.CheckBoxFor(model => model.isUpcoming, new { @checked = "checked", id = "upcoming", onclick = "upcomingChanged(this)" }) <br />
                All past: @Html.CheckBoxFor(model => model.isPast, new { @checked = "checked", id = "past", onclick = "pastChanged(this)" }) <br />

                Choose dates: @Html.CheckBoxFor(model => model.dates, new { id = "dates", onclick = "datesChanged(this)" })<br />
                From: @Html.EditorFor(model => model.fromDate, new { @type = "date", id="fromDate"}) <br />
                To: @Html.EditorFor(model => model.toDate, new { @type = "date", id = "toDate"}) <br />
               
                <input class="button" type="submit" value="Search" id="search_button"/>
            </p>
        } 
    </div>

    <button onclick="hide()" id="hide_button" class="button">Hide</button>
</div>
<button onclick="show()" id="show_button" class="button showSearchPanelButton">Search</button>

<button onclick="showStat()" id="stat_button" class="button showStatPanelButton">Stat</button>